<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>yichu's WebService</display-name>
	<filter>
		<description>ajax请求webService时允许跨域</description>
		<filter-name>WebServiceFilter</filter-name>
		<filter-class>com.likeyichu.webservice.filter.WebServiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WebServiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<!-- 自己定名字，随便取 -->
		<servlet-name>jerseyws</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<!-- 自己的继承了ResourceConfig的类名 -->
			<param-value>com.likeyichu.webservice.app.App</param-value>
		</init-param>
		<!-- 指定这个“jerseyws” Servlet被tomcat加载的顺序 -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jerseyws</servlet-name>
		<!-- 如果项目名为ABC,那么www.abc.com/ABC/*的请求都会被jersey框架处理 -->
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


</web-app>
